* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragrafo {
  font-size: 2rem;
  justify-content: center;
  text-align: center;
}
.body-index {
  width: 100%;
  height: 100%;
  background: rgb(240, 240, 240);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-index > div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}

.grid-container section {
  box-shadow: 0.8rem 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.05);
  width: 35rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  margin: 1rem auto;
}

.body-produtos {
  width: 100%;
  height: 100%;
  background: rgb(240, 240, 240);
}
.ul-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ul-container li {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.ul-container img {
  height: 16rem;
  width: 16rem;
}

.body-contato {
  padding: 0;
  margin: 0;
  color: black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #660000;
  box-shadow: none;
  color: black;
  font-weight: bold;
}

.enviar {
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  color: black;
}

textarea {
  width: 400px;
  height: 120px;
  line-height: 20px;
  max-width: 400px;
}
